{% extends "base.html" %}

{% block content %}

<div class="columns">
    <div class="column">
        <div class="field">
            <div class="control">
                <input class="input" type="text" placeholder="First Name" />
            </div>
        </div>
    </div>

    <div class="column">
        <div class="field">
            <div class="control">
                <input class="input" type="text" placeholder="Last Name" />
            </div>
        </div>
    </div>
</div>




<div class="field">
    <div class="control">
        <input class="input" type="number" placeholder="Mobile" />
    </div>
</div>

<div class="field">
    <div class="control">
        <input class="input" type="number" placeholder="Phone" />
    </div>
</div>


<div class="columns">
    <div class="column">
        <div class="field">
            <div class="control">
        <input class="input" type="text" placeholder="Company" />
            </div>
        </div>
    </div>

    <div class="column">
        <div class="field">
            <div class="control">
        <input class="input" type="email" placeholder="Email" />
            </div>
        </div>
    </div>
</div>
{% endblock %}
