{% extends "base.html" %}

{% block content %}
<div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="text" placeholder="Twitter" />
    <span class="icon is-small is-left">
      <i class="fas fa-brands fa-twitter"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>

<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="text" placeholder="Facebook" />
    <span class="icon is-small is-left">
      <i class="fas fa-brands fa-facebook"></i>
    </span>
  </p>
</div>

<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="text" placeholder="Whatsapp" />
    <span class="icon is-small is-left">
      <i class="fas fa-brands fa-whatsapp"></i>
    </span>
  </p>
</div>

<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="text" placeholder="Snapchat" />
    <span class="icon is-small is-left">
      <i class="fas fa-brands fa-snapchat"></i>
    </span>
  </p>
</div>

<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="text" placeholder="Instagram" />
    <span class="icon is-small is-left">
      <i class="fas fa-brands fa-instagram"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="text" placeholder="Telegram" />
    <span class="icon is-small is-left">
      <i class="fas fa-brands fa-telegram"></i>
    </span>
  </p>
</div>
{% endblock %}
